/*footer*/
.footer {
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}
.footer-inner {
    width: 1130px;
    padding: 0 30px 92px;
    margin: 0 auto;
}




/*banner-area*/
footer .banner-area {
    overflow: hidden;
    padding: 24px 0;
    border-bottom: 1px solid #e4e8eb;
}



footer .banner-area .main-public {
    float: left;
    position: relative;
    width: 350px;
    height: 86px;
}
footer .banner-area .main-public:nth-child(2) {
    margin-left: 40px;
}
footer .banner-area .main-public:nth-child(3) {
    margin-left: 40px;
}
footer .banner-area .main-public-wrap {
    display: block;
    overflow: hidden;
}



footer .banner-area .main-public-img {
    overflow: hidden;
    position: relative;
    float: left;
    width: 160px;
    height: 86px;
}



footer .banner-area .main-public-content {
    overflow: hidden;
    height: 86px;
    padding: 2px 2px 0 16px;
    font-size: 12px;
    line-height: 1.25;
    box-sizing: border-box;
    text-align: left;
}
footer .banner-area .main-public-subtitle {
    display: block;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #58c464;
    white-space: nowrap;
}
footer .banner-area .main-public-title {
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
    white-space: nowrap;
}
footer .banner-area .main-public-desc, footer .banner-area .main-public-desc2  {
    overflow: hidden;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #424242;
    white-space: nowrap;
}
footer .banner-area .main-public-desc {
    margin-top: 8px;
}
/*//banner-area*/










/*notice-area*/
footer .notice-area {
    overflow: hidden;
    padding: 16px 0 15px;
    border-bottom: 1px solid #e4e8eb;
}
footer .notice-box {
    float: left;
}
footer .notice-box .title {
    float: left;
    margin-right: 13px;
    color: #202020;
}
footer .link-all {
    float: right;
    font-weight: 700;
    color: #202020;
}
footer .link-all::after {
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -444px -268px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 10px;
    vertical-align: -2px;
}
/*//notice-area*/









/*aside-area*/
footer .aside-area {
    overflow: hidden;
    border-bottom: 1px solid #e4e8eb;
}



footer .aside-area .partner-box-wrap {
    float: left;
    width: 780px;
    padding: 20px 0;
}
footer .aside-area .partner-box {
    overflow: hidden;
}
footer .aside-area .partner-box+.partner-box {
    margin-top: 9px;
}
footer .aside-area .partner-box .title {
    float: left;
    width: 87px;
    font-weight: bold;
}
footer .aside-area .partner-box a {
    float: left;
    color: #777;
}
footer .aside-area .partner-box a+a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}



footer .aside-area .service-box-wrap {
    overflow: hidden;
    float: right;
    width: 350px;
    padding: 28px 0;
}
footer .aside-area .service-box {
    overflow: hidden;
    float: left;
    max-width: 150px;
}
footer .aside-area .service-box+.service-box {
    margin-left: 50px;
}
footer .aside-area .service-logo {
    float: right;
    margin-left: 12px;
}
footer .aside-area .service-logo img {
    width: 48px;
    height: 48px;
}
footer .aside-area .service-info {
    overflow: hidden;
}
footer .aside-area .service-info .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 2px;
    font-weight: bold;
}
footer .aside-area .service-info .dsc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 2px;
    color: grey;
}
/*//aside-area*/









/*corp-area*/
footer .corp-area {
    padding-top: 25px;
}
footer .corp-area .list-corp {
    overflow: hidden;
    float: left;
    margin-right: 13px;
}
footer .corp-area .corp-item {
    float: left;
    color: #777;
}
footer .corp-area .corp-item+.corp-item::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;
    vertical-align: -1px;
}
footer address {
    float: left;
    color: #202020;
    font-weight: 700;
}
footer address a {}
/*//corp-area*/